.social_links {
  display: inline-block;
  column-gap: 2px;
}
/* .social_links > * {
  flex: 1 0 40%;
} */

.animated {
  animation: rotate 2s;
  animation-delay: 1250ms;
}
.social_links a + a .animated {
  animation-delay: 1750ms;
}

.social_links a div {
  display: inline-block;
}
.social_links a div svg {
  --logo-size: 2.2rem;
  height: var(--logo-size);
  width: var(--logo-size);
  background: linear-gradient(in hsl longer hue 60deg, yellow 0 0);
}
.social_links a + a div svg {
  background: linear-gradient(in hsl longer hue 60deg, rgb(234, 33, 234) 0 0);
}

/* .svg:hover {
  animation: rotate 1s;
} */

#gh {
  border-radius: 50%;
}
#gh path {
  stroke: white;
  stroke-width: 0.15px;
  stroke-opacity: 50%;
}
#gh:hover {
  animation: rotate 0.75s;
}
#ln {
  border-radius: 5%;
  fill: rgb(13, 79, 231);
}
#ln path {
  stroke: black;
  stroke-width: 0.15px;
  stroke-opacity: 50%;
}
#ln:hover {
  animation: rotate 1s;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media screen and (width < 700px) {
  .social_links a div {
    margin-inline: 1rem;
  }
}
@media screen and (width < 300px) {
  .social_links {
    width: 100vw;
  }
}
